/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff; /* Light yellow background */
    color: #333; /* Dark text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #87CEEB; /* Sky blue header background */
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex-grow: 1; /* Fill remaining space */
}

section {
    padding: 60px 0;
    text-align: center;
}

footer {
    background-color: #87CEEB; /* Sky blue footer background */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

/* Home section styles */
#home {
    background-color: #f9f9f9; /* Light gray background */
    padding: 60px 0;
}

.bio-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-text {
    max-width: 60%; /* Adjust text width as needed */
    text-align: left;
    padding-right: 40px; /* Add space between text and image */
}

.bio-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Make image round */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease-in-out; /* Add smooth hover effect */
}

.bio-image img:hover {
    transform: scale(1.05); /* Scale up image on hover */
}
