<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godfred Kogkane - Achievements</title>
    <link rel="stylesheet" href="../css/achievements.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../view/bio.html">Bio</a></li>
                <li><a href="../view/education.html">Education</a></li>
                <li><a href="../view/achievements.html">Achievements/Awards</a></li>
                <li><a href="../view/work-experience.html">Work Experience</a></li>
                <li><a href="../view/projects.html">Projects</a></li>
                <li><a href="../view/skills.html">Skills</a></li>
                <li><a href="../view/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="achievements">
            <div class="container">
                <h2>Achievements/Awards</h2>
                <div class="achievements-wrapper">
                    <div class="achievement-item">
                        <img src="../images/coca-cola logo.jpg" alt="Coca-Cola Foundation Logo">
                        <h3>The Coca-Cola Foundation Social Impact Fund, Ashesi University</h3>
                        <p>The Coca-Cola Foundation recently initiated a partnership to bolster students' community center initiatives through the provision of grants. Among the esteemed Coca-Cola Foundation Social Impact Fund recipients is the IT Access project at Ashesi University. This significant achievement signifies a beacon of hope for numerous underprivileged students, empowering them with practical education and enabling them to surmount poverty in an era where technology catalyzes progress.</p>
                        <p>Duration: Jan 2023 - Jan 2024</p>
                    </div>
                    <div class="achievement-item">
                        <img src="../images/Mastercard-Foundation logo.jpg" alt="MasterCard Foundation Logo">
                        <h3>The MasterCard Foundation Scholar Program Scholarship, Ashesi University</h3>
                        <p>The Ashesi MasterCard, Foundation Scholars Program, affords exceptional and disadvantaged students access to a first-rate education. Its primary goal is to equip these students with the necessary skills and knowledge to catalyze progress and advancement within their communities throughout Africa. I am privileged to have received a comprehensive scholarship to pursue a degree in Management Information Systems.</p>
                        <p>Duration: Sep 2021 - Jul 2025</p>
                    </div>
                    <div class="achievement-item">
                        <img src="../images/Ford-foundation logo.png" alt="Ford Foundation Logo">
                        <h3>Ford Foundation Fund for Service to Children and Youth, Ashesi University</h3>
                        <p>This prestigious opportunity, generously funded by the Ford Foundation, provides students with financial support, comprehensive training, and personalized coaching to successfully execute projects to improve the lives of underprivileged children and youth.</p>
                        <p>Duration: Nov 2021 - Dec 2023</p>
                    </div>
                    <div class="achievement-item">
                        <img src="../images/Ashesi_University_Logo.jpg" alt="Ashesi Logo">
                        <h3>Dean's List, Ashesi University</h3>
                        <p>The Dean's List is an academic honor bestowed upon students who have demonstrated academic excellence by achieving a semester GPA of 3.5 or higher on a 4.0 scale.</p>
                        <p>Duration: 2021 – 2022</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Godfred Kogkane</p>
        </div>
    </footer>
</body>
</html>
