<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godfred Kogkane - Work Experience</title>
    <link rel="stylesheet" href="../css/work-experience.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../view/bio.html">Bio</a></li>
                <li><a href="../view/education.html">Education</a></li>
                <li><a href="../view/achievements.html">Achievements/Awards</a></li>
                <li><a href="../view/work-experience.html">Work Experience</a></li>
                <li><a href="../view/projects.html">Projects</a></li>
                <li><a href="../view/skills">Skills</a></li>
                <li><a href="../view/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="work-experience">
            <div class="container">
                <h2>Work Experience</h2>
                <div class="experience-wrapper">
                    <div class="experience-item">
                        <img src="../images/African-film & arts.png" alt="African Film & Arts Foundation Inc. Logo">
                        <h3>African Film & Arts Foundation Inc.</h3>
                        <p>Atlanta, GA 30328</p>
                        <p class="role">Communications Intern</p>
                        <ul>
                            <li>Generated press releases to promote initiatives and events strategically.</li>
                            <li>Launched engaging monthly newsletters via MailChimp.</li>
                            <li>Maintained and optimized the Foundation's LinkedIn profile, maximizing brand visibility.</li>
                            <li>Managed and updated foundation websites, ensuring user experience.</li>
                            <li>Liaised with media outlets to champion the foundation's mission.</li>
                        </ul>
                        <p>Duration: Feb 2024 - Present</p>
                    </div>
                    <div class="experience-item">
                        <img src="../images/African leadership academy.png" alt="African Leadership Academy Logo">
                        <h3>African Leadership Academy</h3>
                        <p>1050 Printech Avenue Honeydew, South Africa 2170</p>
                        <p class="role">Marketing Intern</p>
                        <ul>
                            <li>Created engaging digital content (videos, photos, infographics).</li>
                            <li>Executed targeted digital media plans for audience engagement.</li>
                            <li>Analyzed social media metrics to optimize content.</li>
                            <li>Championed innovative social media practices.</li>
                        </ul>
                        <p>Duration: Oct 2023 - Dec 2023</p>
                    </div>
                    <div class="experience-item">
                        <img src="../images/Witkoppen-Logo.jpg" alt="Witkoppen Clinic Logo">
                        <h3>Witkoppen Clinic</h3>
                        <p>105 William Nicol Drive, Fourways, Gauteng, South Africa</p>
                        <p class="role">Grant Writing & Research Intern</p>
                        <ul>
                            <li>Developed 3 grant proposals to secure funding for the Clinic.</li>
                            <li>Increased the targeted donor list by 30% through research using relevant databases like GrantStation and Foundation Directory Online.</li>
                            <li>Analyzed funding trends and donor preferences to refine fundraising strategies.</li>
                        </ul>
                        <p>Duration: July 2023 - Dec 2023</p>
                    </div>
                    <div class="experience-item">
                        <img src="../images/Practical-education logo.jpg" alt="Practical Education Network Logo">
                        <h3>Practical Education Network</h3>
                        <p>North Legon, Accra-Ghana</p>
                        <p class="role">Content Development Intern</p>
                        <ul>
                            <li>Assisted in developing new hands-on mathematics activity ideas, leveraging local materials.</li>
                            <li>Assisted in testing and refining existing hands-on mathematics activities.</li>
                            <li>Assisted in developing content for the JHS Maths Manual.</li>
                            <li>Collaborated with PEN's illustrator to bring the activities to life visually.</li>
                        </ul>
                        <p>Duration: June 2022 - Present</p>
                    </div>
                    <div class="experience-item">
                        <img src="../images/Ashesi_University_Logo.jpg" alt="Ashesi Startup Launchpad Logo">
                        <h3>Ashesi Startup Launchpad</h3>
                        <p>Ashesi University</p>
                        <p class="role">Graphic Designer</p>
                        <ul>
                            <li>Led design, development, and implementation of a target marketing sample.</li>
                            <li>Designed logos, web graphics, and branding materials.</li>
                            <li>Collaborated with designers, copywriters, and marketing teams.</li>
                        </ul>
                        <p>Duration: Mar 2022 - Jan 2024</p>
                    </div>
                    <div class="experience-item">
                        <h3>Steve Printing Services</h3>
                        <p>Babile, Upper West Region, Ghana</p>
                        <p class="role">Data Analyst</p>
                        <ul>
                            <li>Developed and maintained data models, reports, and dashboards to support data-driven decisions.</li>
                            <li>Analyzed data and identified trends, patterns, and relationships to provide business solutions.</li>
                            <li>Created data visualizations to present complex data in easy-to-understand formats.</li>
                        </ul>
                        <p>Duration: Sep 2019 - Sep 2021</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Godfred Kogkane</p>
        </div>
    </footer>
</body>
</html>
